@import "../../global.scss";
.contact{
    background-color: white;
    display: flex;
    @include mobile{
        flex-direction: column;
    }
    @include iphone8{
        flex-direction: column;
    }

    .left{
        flex: 1;
        margin-top: 50px;
        @include iphone8{
            margin-left: 10px;
        }
        @include mobile{
            margin-left: 10px;
        }

        img{
            height: 70%;
        }
    }

    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        h2{
            font-size: 30px;
        }

        form{
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            
            input{
                border: 1px solid gray;
                width: 300px;
                height: 30px;
                font-size: 14px;
                @include mobile{
                    width: 200px;
                    height: 30px;
                }

                @include iphone8{
                    width: 200px;
                    height: 30px;
                }
            }

            textarea{
                border: 1px solid gray;
                width: 300px;
                height: 300px;
                font-size: 14px;
                margin-top: 10px;
                @include mobile{
                    width: 200px;
                    height: 100px;
                }

                @include iphone8{
                    width: 200px;
                    height: 100px;
                }
               
            }

            button{
                width: 150px;
                height: 30px;
                color: white;
                background-color: crimson;
                border-radius: 10px;
                margin-top: 10px;
                cursor: pointer;
            }

            
        }

        span{
            color: green;
                
        }
    }
}