@import "../../global.scss";
.intro{
    background-color: white;
    overflow-y: hidden;
    
   
    
}
.arrow{
   background-color: red;
   margin-top: 50px;
   @include mobile{
    margin-top: 150px;
    margin-left: 40px;
    
    }
  

    a{
        img{
            width: 50px;

            animation: arrowBlink 2s infinite;
        }
        @keyframes arrowBlink{
            100%{
                opacity: 0;
            }
        }
    }
}

.wrapper{
   
    

    @include mobile{
        
       
       
        
        
        
        
    }
}
.picture{
    @include tablet{
        align-items: center;
        justify-content: center;    
    }
    @include mobile{
        align-items: center;
        justify-content: center;
        margin-left: 0px       
    }
    
}
.pic{
    height: 350px;
    width: 350px;
    align-items: center;
    @include tablet{
        height: 250px;
        width: 200;  
        
    }
}

