$mainColor:#15026a;

$width: 600px;
$width2: 768px;
$width3: 992px;


@mixin mobile {
    @media (max-width: #{$width}) {
        @content
        
    }
    
}

@mixin desktop{
    @media (max-width: #{$width3}) {
        @content
        
    }
    
}

@mixin tablet{
    @media (max-width: #{$width2}) {
        @content
        
    }
    
}




